<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Document.Editor.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Document.Editor"/>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <userSettings>
    <Document.Editor.MySettings>
      <setting name="Options_Theme" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MainWindow_IsMax" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Options_StartupMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Options_Tabs_SizeMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Options_SpellCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Options_RecentFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="Options_Tabs_CloseButtonMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Options_TTSV" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Options_Language" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="MainWindow_ShowStatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Options_TTSS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveDialog_IsMax" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Options_ShowRecentDocuments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Options_EnablePlugins" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Options_PreviousDocuments" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;</string>
            <string>&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" /&gt;</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Options_ShowStartupDialog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Options_EnableGlass" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Options_DefaultFont" serializeAs="String">
        <value>Calibri</value>
      </setting>
      <setting name="Options_DefaultFontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="MainWindow_ShowRuler" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Options_RulerMeasurement" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindow_ShowHomeTab" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCommonEditGroup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCommonViewGroup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCommonInsertGroup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCommonFormatGroup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCommonToolsGroup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Options_TabPlacement" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindow_Left" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="MainWindow_Top" serializeAs="String">
        <value>48</value>
      </setting>
      <setting name="MainWindow_Height" serializeAs="String">
        <value>668</value>
      </setting>
      <setting name="MainWindow_Width" serializeAs="String">
        <value>968</value>
      </setting>
      <setting name="Options_CheckForUpdatesOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Options_TemplatesFolder" serializeAs="String">
        <value/>
      </setting>
    </Document.Editor.MySettings>
  </userSettings>
</configuration>
